body {
    background-image: url('images/background.png');
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

nav{
    left: 0px;
    right: 0px;
    background-color: transparent;
    transition: .4s;
    padding: 1.5rem 0;
}

.main-nav{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
}

.menu-link{
    padding: 0 5px;
    color: white;
}

.main-text {
	color: white;
}

#content {
    margin: 0 auto;
    padding: 0 15px;
}

#avatar {
    width: 50%;
    float: left;
    text-align: center;
}

#socials {
    float: right;
    width: 50%;
    text-align: center;
}

#icons {
    margin-top: 2%;
}

#works {
    clear: both;
    text-align: center;
}